---
http_interactions:
- request:
    method: post
    uri: https://abe1212381f60.pushnotifications.pusher.com/publish_api/v1/instances/abe1212381f60/publishes
    body:
      encoding: UTF-8
      string: '{"interests":["hello"],"apns":{"aps":{"alert":{"title":"Hello","body":"Hello,
        world!"}}},"fcm":{"notification":{"title":"Hello","body":"Hello, world!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2572CB0667EEBAB04BECF88679A6FA1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Instance not found","description":"Could not find the instance"}

'
  recorded_at: Tue, 19 Dec 2017 15:26:06 GMT
recorded_with: VCR 3.0.3
