---
http_interactions:
- request:
    method: post
    uri: https://abe81f60-efed-4b9d-81b6-4c56dd38e8c3.pushnotifications.pusher.com/publish_api/v1/instances/abe81f60-efed-4b9d-81b6-4c56dd38e8c3/publishes
    body:
      encoding: UTF-8
      string: '{"interests":["hello"],"apns":{"aps":{"alert":{"title":"Hello","body":"Hello,
        world!"}}},"fcm":{"notification":{"title":"Hello","body":"Hello, world!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer wrong-secret-key
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","description":"Incorrect API Key"}

'
  recorded_at: Tue, 19 Dec 2017 15:28:07 GMT
recorded_with: VCR 3.0.3
