---
http_interactions:
- request:
    method: post
    uri: https://97c56dfe-58f5-408b-ab3a-158e51a860f2.pushnotifications.pusher.com/publish_api/v1/instances/97c56dfe-58f5-408b-ab3a-158e51a860f2/publishes
    body:
      encoding: UTF-8
      string: '{"interests":["interest-19", "interest-86", "interest-50", "interest-70", "interest-90", "interest-8", "interest-14", "interest-84", "interest-55", "interest-46", "interest-53", "interest-28", "interest-2", "interest-42", "interest-87", "interest-56", "interest-98", "interest-81", "interest-65", "interest-11", "interest-49", "interest-31", "interest-36", "interest-78", "interest-51", "interest-57", "interest-79", "interest-96", "interest-23", "interest-93", "interest-52", "interest-99", "interest-37", "interest-12", "interest-62", "interest-39", "interest-47", "interest-18", "interest-60", "interest-9", "interest-88", "interest-59", "interest-71", "interest-15", "interest-100", "interest-61", "interest-73", "interest-95", "interest-10", "interest-69", "interest-85", "interest-38", "interest-48", "interest-76", "interest-97", "interest-6", "interest-20", "interest-89", "interest-91", "interest-5", "interest-1", "interest-21", "interest-54", "interest-58", "interest-26", "interest-75", "interest-43", "interest-77", "interest-13", "interest-67", "interest-29", "interest-72", "interest-80", "interest-34", "interest-40", "interest-63", "interest-16", "interest-74", "interest-25", "interest-35", "interest-83", "interest-66", "interest-30", "interest-32", "interest-4", "interest-82", "interest-45", "interest-27", "interest-64", "interest-41", "interest-22", "interest-92", "interest-3", "interest-33", "interest-68", "interest-24", "interest-44", "interest-7", "interest-17", "interest-94"],"apns":{"aps":{"alert":{"title":"Hello","body":"Hello, world!"}}},"fcm":{"notification":{"title":"Hello","body":"Hello, world!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6033364526F02EDEF472461879CE485
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"publishId":"pubid-9fa9e124-c5ef-4c58-9a2a-34da02051c3c"}

'
  recorded_at: Tue, 19 Dec 2017 15:46:44 GMT
recorded_with: VCR 3.0.3
