---
http_interactions:
- request:
    method: post
    uri: https://abe81f60-efed-4b9d-81b6-4c56dd38e8c3.pushnotifications.pusher.com/publish_api/v1/instances/abe81f60-efed-4b9d-81b6-4c56dd38e8c3/publishes
    body:
      encoding: UTF-8
      string: '{"interests":["hello"],"apns":{"aps":{"alert":{"title":"Hello","body":"Hello,
        world!"}}},"fcm":{"notification":{"title":"Hello","body":"Hello, world!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2572CB0667EEBAB04BECF88679A6FA1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"publishId":"pubid-9a13bc85-c5f7-4d03-ac93-95d1e0bfcdb7"}

'
  recorded_at: Tue, 19 Dec 2017 15:46:44 GMT
recorded_with: VCR 3.0.3
