---
http_interactions:
- request:
    method: post
    uri: https://97c56dfe-58f5-408b-ab3a-158e51a860f2.pushnotifications.pusher.com/publish_api/v1/instances/97c56dfe-58f5-408b-ab3a-158e51a860f2/publishes
    body:
      encoding: UTF-8
      string: '{"interests":["hello"],"apns":{"aps":{"alert":{"title":"Hello","body":"Hello,
        world!"}}},"fcm":{"notification":{"title":"Hello","body":"Hello, world!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6033364526F02EDEF472461879CE485
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"publishId":"pubid-9fa9e124-c5ef-4c58-9a2a-34da02051c3c"}

'
  recorded_at: Tue, 19 Dec 2017 15:46:44 GMT
recorded_with: VCR 3.0.3
