---
http_interactions:
- request:
    method: post
    uri: https://1b880590-6301-4bb5-b34f-45db1c5f5644.pushnotifications.pusher.com/publish_api/v1/instances/1b880590-6301-4bb5-b34f-45db1c5f5644/publishes
    body:
      encoding: UTF-8
      string: '{"interests":["interest-49","interest-92","interest-5","interest-99","interest-91","interest-86","interest-52","interest-33","interest-71","interest-85","interest-24","interest-21","interest-32","interest-38","interest-69","interest-58","interest-25","interest-64","interest-41","interest-16","interest-4","interest-94","interest-13","interest-93","interest-39","interest-76","interest-67","interest-11","interest-73","interest-56","interest-18","interest-12","interest-77","interest-15","interest-84","interest-100","interest-65","interest-6","interest-42","interest-95","interest-61","interest-14","interest-40","interest-43","interest-98","interest-63","interest-80","interest-53","interest-23","interest-37","interest-48","interest-88","interest-87","interest-20","interest-55","interest-79","interest-82","interest-1","interest-59","interest-89","interest-47","interest-72","interest-62","interest-44","interest-10","interest-2","interest-74","interest-8","interest-60","interest-26","interest-57","interest-81","interest-96","interest-19","interest-97","interest-66","interest-17","interest-50","interest-45","interest-3","interest-31","interest-78","interest-46","interest-9","interest-83","interest-30","interest-22","interest-29","interest-68","interest-54","interest-75","interest-27","interest-36","interest-70","interest-51","interest-90","interest-34","interest-28","interest-7","interest-35"],"apns":{"aps":{"alert":{"title":"Hello","body":"Hello,
        world!"}}},"fcm":{"notification":{"title":"Hello","body":"Hello, world!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer F8AC0B756E50DF235F642D6F0DC2CDE0328CD9184B3874C5E91AB2189BB722FE
      X-Pusher-Library:
      - pusher-push-notifications-ruby 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"publishId":"pubid-b31f2fcf-92dc-4f0f-b97d-6fdd82b7ac0f"}

'
  recorded_at: Thu, 21 Feb 2019 13:41:35 GMT
recorded_with: VCR 3.0.3
