---
http_interactions:
- request:
    method: post
    uri: https://1b880590-6301-4bb5-b34f-45db1c5f5644.pushnotifications.pusher.com/publish_api/v1/instances/1b880590-6301-4bb5-b34f-45db1c5f5644/publishes
    body:
      encoding: UTF-8
      string: '{"interests":["hello"],"apns":{"aps":{"alert":{"title":"Hello","body":"Hello,
        world!"}}},"fcm":{"notification":{"title":"Hello","body":"Hello, world!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer F8AC0B756E50DF235F642D6F0DC2CDE0328CD9184B3874C5E91AB2189BB722FE
      X-Pusher-Library:
      - push-notifications-server-ruby 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"publishId":"pubid-80c9cb4e-028f-4761-97ac-d5e985447d5a"}

'
  recorded_at: Wed, 13 Feb 2019 11:53:20 GMT
recorded_with: VCR 3.0.3
