---
http_interactions:
- request:
    method: post
    uri: https://1b880590-6301-4bb5-b34f-45db1c5f5644.pushnotifications.pusher.com/publish_api/v1/instances/1b880590-6301-4bb5-b34f-45db1c5f5644/publishes/users
    body:
      encoding: UTF-8
      string: '{"users":["jonathan","jordan","luis","luka","mina"],"apns":{"aps":{"alert":{"title":"Hello","body":"Hello,
        world!"}}},"fcm":{"notification":{"title":"Hello","body":"Hello, world!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer F8AC0B756E50DF235F642D6F0DC2CDE0328CD9184B3874C5E91AB2189BB722FE
      X-Pusher-Library:
      - push-notifications-server-ruby 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"publishId":"pubid-47b12b47-b899-4323-9048-cd452c30efae"}

'
  recorded_at: Tue, 12 Feb 2019 17:50:50 GMT
recorded_with: VCR 3.0.3
